---
layout: default
title: Contáctanos
permalink: /contacto
---
    {% include page-title.html %}

    <!-- Start Themeix Contact-->
    <section class="themeix-contact bg-color4 section-spacing clearfix">
        <div class="container">
            <div class="d-flex align-items-stretch themeix">
                {% include contact-form.html %}
                <div class="contact-resgister-info contact-column bg-color2">
                    <h2>Contáctanos</h2>
                    <div class="contact-resgister-info-wrapper wow fadeIn"  data-wow-duration="2s">
                        <div class="contact-resgister-info-logo"><img src="/assets/images/contact-info-logo.png" alt="" /></div>
                        <div class="contact-resgister-info-content">
                            <p>Epicentro Coworking Space<br>Calzada de las Américas 300 Interior X<br>Colonia Sonora CP 21210</p>
                        </div>
                    </div>
                    <div class="contact-resgister-info-wrapper wow fadeIn"  data-wow-duration="2s">
                        <div class="contact-resgister-info-logo"><img src="/assets/images/contact-info-logo2.png" alt="" /></div>
                        <div class="contact-resgister-info-content">
                            <p>686 946 2551</p>
                        </div>
                    </div>
                    <div class="contact-resgister-info-wrapper wow fadeIn"  data-wow-duration="2s">
                        <div class="contact-resgister-info-logo"><img src="/assets/images/contact-info-logo3.png" alt="" /></div>
                        <div class="contact-resgister-info-content">
                            <p>hola@asesoreducativo.mx</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Themeix Contact -->
