---
layout: default
title: Contáctanos
permalink: /contacto
---
    {% include page-title.html %}

    <!-- Start Themeix Contact-->
    <section class="themeix-contact bg-color4 section-spacing clearfix">
        <div class="container">
            <div class="d-flex align-items-stretch themeix">
                {% include contact-form.html %}
                <div class="contact-resgister-info contact-column bg-color2">
                    <h2>Contáctanos</h2>
                    <div class="contact-resgister-info-wrapper wow fadeIn"  data-wow-duration="2s">
                        <div class="contact-resgister-info-logo"><img src="/assets/images/contact-info-logo.png" alt="" /></div>
                        <div class="contact-resgister-info-content">
                            <p><a class="enlace-contacto" href="{{site.facebook_url}}">Facebook <i class="fa fa-facebook"></i></a></p>
                            <p><a class="enlace-contacto" href="{{site.twitter_url}}">Twitter <i class="fa fa-twitter"></i></a></p>
                            <p><a class="enlace-contacto" href="https://wa.me/526869462551">Whatsapp <i class="fa fa-whatsapp"></i></a></p>
                            <p><a class="enlace-contacto" href="mailto:hola@asesoreducativo.mx">hola@asesoreducativo.mx <i class="fa fa-mail"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Themeix Contact -->
