---
layout: default
title: Sobre nosotros
permalink: /nosotros
---
{% include page-title.html %}

<!-- Start Themeix Feature-->
<div class="container">
    <div class="row">
        <div class="themeix-section-title">
            <h2>Docentes</h2>
            <div class="section-border left-border"></div>
            <p>Conoce el perfil del equipo docente.</p>      
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        {% assign instructors = site.instructors %}
        {% for instructor in instructors %}
        <div class="col-sm-6 col-lg-3">
            {% include instructor-card.html %}
        </div>
        {% endfor %}
    </div>
</div>
<!-- End Themeix Feature-->

<!-- Start Themeix Feature-->
<section class="themeix-feature section-spacing bg-color">
   <div class="container">
    <div class="themeix-section-title">
        <h2>Nuestra experiencia</h2>
        <div class="section-border left-border"></div>
        <p>Con más de 20 años combinados de experiencia, hemos tenido oportunidad de colaborar con empresas, instituciones, y particulares dentro de una variedad muy amplia de áreas.<br><br></p>
        <h3>Colaboraciones</h3>
        <div class="row mosaico-clientes">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/images/clientes/biblioteca.jpg" class="card-img-top" alt="Biblioteca Pública Central Estatal">
                        <h5>Biblioteca Pública Central Estatal</h5>
                        <p>Conferencia Ciberseguridad y talleres artísticos</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/images/clientes/canacintra.jpg" class="card-img-top" alt="CANACINTRA">
                        <h5>CANACINTRA</h5>
                        <p>Capacitación en uso básico a avanzado de Excel</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/images/clientes/cea.jpg" class="card-img-top" alt="Comisión Estatal del Agua">
                        <h5>Comisión Estatal del Agua</h5>
                        <p>Capacitación en diseño vectorial</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/images/clientes/ceim.jpg" class="card-img-top" alt="CEIM">
                        <h5>CEIM</h5>
                        <p>Docentes de grupo Español e Inglés</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mosaico-clientes">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/images/clientes/cetys.jpg" class="card-img-top" alt="CETYS Universidad">
                        <h5>CETYS Universidad</h5>
                        <p>Taller y Plática sobre software libre</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/images/clientes/cfe.gif" class="card-img-top" alt="CFE Cerro Prieto">
                        <h5>CFE Cerro Prieto</h5>
                        <p>Capacitación en uso intermedio de Excel</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/images/clientes/cmic.jpg" class="card-img-top" alt="CMIC Mexicali">
                        <h5>CMIC Mexicali</h5>
                        <p>Capacitación en diseño vectorial</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/images/clientes/cobachbc.jpg" class="card-img-top" alt="CoBach BC">
                        <h5>CoBach BC</h5>
                        <p>Capacitación en uso de Google Workspace</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mosaico-clientes">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/images/clientes/coworkthink.jpg" class="card-img-top" alt="CoworkThink!">
                        <h5>CoworkThink!</h5>
                        <p>Capacitaciones en TICs y edición de mapas de bits</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/images/clientes/eazy.jpg" class="card-img-top" alt="Eazy Workspace">
                        <h5>Eazy Workspace</h5>
                        <p>Plática sobre Ciberseguridad</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/images/clientes/esam.jpg" class="card-img-top" alt="ESAM UABC">
                        <h5>ESAM UABC</h5>
                        <p>Docente de Alfabetización digital</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/images/clientes/gnerd.jpg" class="card-img-top" alt="G Nerd">
                        <h5>G Nerd</h5>
                        <p>Especialista en uso de Google Workspace</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mosaico-clientes">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/images/clientes/gxla.jpg" class="card-img-top" alt="Gente por los Animales">
                        <h5>Gente por los Animales</h5>
                        <p>Diseño de logotipo</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/images/clientes/geg.jpg" class="card-img-top" alt="Google Educators Group">
                        <h5>Google Educators Group</h5>
                        <p>Fundaciónd el capítulo Mexicali</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/images/clientes/identite.jpg" class="card-img-top" alt="Identité">
                        <h5>Identité</h5>
                        <p>Plática sobre Ciberseguridad</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/images/clientes/itm.jpg" class="card-img-top" alt="Instituto Tecnológico de Mexicali">
                        <h5>Instituto Tecnológico de Mexicali</h5>
                        <p>Taller para el uso de Google Workspace</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mosaico-clientes">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/images/clientes/mundoopticos.jpg" class="card-img-top" alt="Mundo Ópticos">
                        <h5>Mundo Ópticos</h5>
                        <p>Diseño publicitario</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/images/clientes/odem.jpg" class="card-img-top" alt="Ópera de Mexicali">
                        <h5>Ópera de Mexicali</h5>
                        <p>Diseño de logotipo</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/images/clientes/pathways.gif" class="card-img-top" alt="Pathways School of Languages">
                        <h5>Pathways School of Languages</h5>
                        <p>Docencia presencial y en línea de inglés</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/images/clientes/radio.jpg" class="card-img-top" alt="UABC Radio">
                        <h5>UABC Radio</h5>
                        <p>Columnista en temas de tecnología y seguridad</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mosaico-clientes">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/images/clientes/unea.jpg" class="card-img-top" alt="UNEA">
                        <h5>UNEA</h5>
                        <p>Docencia de asignaturas</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/images/clientes/udurango.jpg" class="card-img-top" alt="Universidad de Durango">
                        <h5>Universidad de Durango</h5>
                        <p>Docencia de asignaturas</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/images/clientes/xochicalco.jpg" class="card-img-top" alt="Universidad Xochicalco">
                        <h5>Universidad Xochicalco</h5>
                        <p>Docencia de asignaturas en educación media, superior, y posgrado</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/images/clientes/uvm.jpg" class="card-img-top" alt="Universidad del Valle de México">
                        <h5>Universidad del Valle de México</h5>
                        <p>Docencia de asignaturas</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mosaico-clientes">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/images/clientes/isepbc.jpg" class="card-img-top" alt="UNEA">
                        <h5>ISEP BC</h5>
                        <p>Capacitación externa</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


   
</section>
<!-- End Themeix Feature -->

{% include subscribe.html %}