---
layout: default
pagination:
   enabled: true
---

<!-- Start Themeix Slider -->
<section class="themeix-slider section-overlay-two bg-color">
    <div class="container">
       <div class="row">
          <div class="col-md-10 mx-auto">
             {% for slide in site.data.banner %}
             <div class="themeix-slider-content text-center">
                <h1> {{slide.title}}</h1>
                <p>{{slide.subtitle}}
                </p>
                <div class="themeix-slider-btn">
                   <a class="themeix-btn btn btn-primary" href="{{slide.course_url}}">{{slide.course_button_label}}</a>
                   <a class="themeix-btn2 btn btn-primary" href="{{slide.contact_url}}">{{slide.contact_label}}</a>
                </div>
             </div>
             {% endfor %}
          </div>
       </div>
    </div>
 </section>
 <!-- End Themeix Slider -->

<!-- Start Themeix Popular-->
<section class="themeix-popular section-spacing bg-color">
    <div class="container">
       {% include why-chose-us.html %}
    </div>
 </section>
 <!-- End Themeix Popular -->

<!-- Start Themeix Popular-->
<section class="themeix-popular section-spacing bg-color">
   <div class="container">
      <div class="themeix-section-title text-center">
        <h2>Colaboraciones</h2>
     </div>
      <div class="themeix-client-carousel owl-carousel">
        {% for client_logo in site.data.client-logos %}
           <div class="themeix-client-logo">
              <a href="{{client_logo.url}}">
                 <picture>
                    <source type="image/avif" srcset="{{client_logo.logo}}">
                    <img src="{{client_logo.logo}}" alt="client ads img" />
                 </picture>
               </a>
           </div>
        {% endfor %}
     </div>
   </div>
</section>
<!-- End Themeix Popular -->

<!-- Start Themeix Popular-->
<section class="themeix-popular section-spacing bg-color">
   <div class="container">
      <div class="row">
         <div class="col-md-8 m-auto">
            <div class="themeix-section-title text-center">
               <h2>Nuestros servicios</h2>
               <!--<div class="section-border"></div>
               <p>Explora las diferentes temáticas de nuestra oferta.</p>-->
            </div>
         </div>
      </div>
      <div class="scb-minus-30">
         <div class="row"> 
            {% for course in site.courses %}
               {% include course-card.html %}
            {% endfor %}
         </div>
      </div>
   </div>
</section>
<!-- End Themeix Popular -->

<!-- Start Themeix About Author -->
<section class="themeix-about-author section-spacing clearfix">
    <div class="container">
       <div class="row">
          <div class="col-md-8 m-auto">
             <div class="themeix-section-title text-center">
                <h2>Testimonios</h2>
                <div class="section-border"></div>
                <p>Conoce la opinión de las personas que nos han dado la oportunidad de colaborar juntos.</p>
             </div>
          </div>
       </div>
       <div class="owl-carousel about-author-info-carousel">
          {% for testimonial in site.data.testimonials %}
             <div class="about-author-info">
                {% if testimonial.image %}
                   <div class="about-author-thumb">
                      <img src="{{testimonial.image}}" alt="{{testimonial.name}}" />
                   </div>
                {% endif %}
                <div class="about-author-content">
                   <a href="{{testimonial.website}}">{{testimonial.name}}</a>
                   <span>{{testimonial.designation}}</span>
                   <p>{{testimonial.review}}</p>
                </div>
             </div>
          {% endfor %}
       </div>
    </div>
 </section>
 <!-- End Themeix Testimonial -->

<!-- Start Themeix Feature-->
<section class="latest-news-box section-spacing pt-0 bg-color">
    <div class="container">
       <div class="row">
          <div class="col-md-8 m-auto">
             <div class="themeix-section-title text-center">
                <h2>Publicaciones recientes del blog</h2>
             </div>
          </div>
       </div>
       <div class="blog-post-wrapper-1">
          <div class="row infinite-scroll">
             {% for post in paginator.posts %}
                <div class="col-lg-4 col-md-6 post-card-item">
                   {% include post-card.html %}
                </div>
             {% endfor %}

          </div>
          
         {% include pagination.html %}
       </div>
    </div>
 </section>
 <!-- End Themeix Feature-->

{% include subscribe.html %}