
<!-- Start Themeix Subscribe-->
<section class="themeix-subscribe d-flex align-items-stretch themeix">
   <div class="subscribe-column section-spacing bg-color2 themeix">
      <div class="themeix-subscribe-wrapper">
         <h2>¡Suscríbete!</h2>
         <p style="color: #fff;">Mantente al tanto de las últimas actualizaciones, noticias, consejos, y tutoriales.   </p>
         <form class="themeix-subscribe-form wow fadeIn" data-wow-duration="2s" action="https://tinyletter.com/asesoredumx" method="post"
         id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="popupwindow" novalidate=""
         style="visibility: visible; animation-name: bounceInUp;">
            <div class="input-group">
               <input type="text" name="email" class="required email form-control subscribe-email" id="mce-EMAIL" placeholder="Tu dirección de correo" aria-label="Search" required="">
               <input type="hidden" value="1" name="embed"/>
               <span class="input-group-btn">
                  <button class="btn btn-secondary" type="submit" style="background-color: #9dc10e;"><i class="fa fa-paper-plane"></i></button>
               </span>
            </div>
         </form>
      </div>r
      <div class="subscribe-triangle"></div>
   </div>
   <div class="subscribe-column themeix-subscribe-thumb bg-color themeix">
   </div>
</section>
<!-- End Themeix Subscribe -->