<div class="row">
   <div class="col-md-12 col-lg-12">
      <div class="themeix-section-title">
         <h2>Por qué elegirnos</h2>
         <div class="section-border left-border"></div>
         <p>Tenemos más de 20 años de experiencia en impartición de clases, cursos, cátedra, pláticas, conferencias, y asesorías.</p>
      </div>
   </div>
</div>
<div class="row">
{% assign counter = 0 %}
{% for chose in site.data.why-chose-us %}
{% assign counter = counter | plus:1 %}
   <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="themeix-video-details wow fadeIn" data-wow-duration="{{counter}}s">
      <div class="themeix-video-logo">
         <picture>
            <source type="image/avif" srcset="{{choose.icon-avif}}">
            <img src="{{chose.icon}}" alt="{{chose.title}}" />
         </picture>
      </div>
      <div class="themeix-video-content">
         <h5>{{chose.title}}</h5>
         <p>{{chose.subtitle}}</p>
      </div>
      </div>
   </div>
   {% endfor %}
</div>