---
layout: default
pagination: 
  enabled: true
---
  {{ content }}

  {%- if site.posts.size > 0 -%}
    <a name="blog"></a>
    <h2 class="post-list-heading">{{ page.list_title | default: "Blog" }}</h2>
    {% for post in site.posts %}
      {% if post.category == "blog" %}
        {%- assign date_format = site.minima.date_format | default: "%b %-d %Y" -%}
        <article class="blog-panel">
          <a href="{{ post.url }}">
            <h3>{{ post.date | date: date_format }}</h3>
            <h2>{{ post.title }}</h2>
            <div class="clear"></div>
          </a>
          <hr>
        </article>
      {% endif %}
    {% endfor %}
    <div class="clear"></div>
  {% endif %}

  <p class="rss-subscribe">Suscribirse <a href="{{ "/feed.xml" | relative_url }}">vía RSS</a></p>