---
layout: default
---
<div class="home">


  <div id="heroe">
    <h1>CHEE asesor educativo</h1>
    <h2>Servicios profesionales de educación</h2>
    <p>Desde 2002 imparto clases, talleres, pláticas, cursos y capacitación en temas relacionados al uso de la tecnología para el diseño, las artes, programación y productividad.</p>
    <p><a href="/oferta/" class="non">Oferta educativa</a> <a href="/cv/" class="par">Acerca de mí</a></p>
  </div>

    {{ content }}

    <a class="cta-btn" href="/oferta/">¡Quiero aprender!</a>

  <h1>Escucha el podcast</h1>
  <p>Participo semanalmente en el programa de UABC Radio <strong>En la carretera</strong> donde hablamos de la tecnología y su influencia en nuestras vidas.</p>
  <iframe width="100%" height="180" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&light=1&feed=%2Fcamachevaz%2Fplaylists%2Fen-la-carretera%2F" frameborder="0" ></iframe>

</div>