<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <h1>Oferta educativa</h1>

        {{ content }}

        {% for post in site.posts %}
          {% if post.cover == true %}
            <article class="oferta-panel">
              <img src="{{ "/assets/img/" | relative_url }}min-{{ post.imgcover }}.jpg">
              <h2>{{ post.title }}</h2>
              <p>{{ post.sintesis }}</p>
              <a href="{{ post.url }}">Ver más información</a>
              <div class="clear"></div>
            </article>
          {% endif %}
        {% endfor %}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
